<!-- File: /app/View/Posts/index.ctp -->

<h1>Blog posts</h1>
<?php echo $this->Html->Link(
	'Add Post',
	array('controller'=>'posts','action'=>'add')
); ?>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
		<th>Actions</th>
		<th></th>
        <th>Created</th>
    </tr>

    <!-- ここから、$posts配列をループして、投稿記事の情報を表示 -->

    <?php foreach ($posts as $post): ?>
    <tr>
        <td><?php echo $post['Post']['id']; ?></td>
        <td>
            <?php
				echo $this->Html->link($post['Post']['title'],
					array('action' => 'view', $post['Post']['id'])); ?>
		</td>
		<td>
			<?php
				echo $this->Form->postLink(
						'delete',
						array('action' => 'delete', $post['Post']['id']),
						array('confirm' => 'Are you sure?')
					);
			?>
		</td>
		<td>
			<?php
				echo $this->Html->Link(
					'Edit',
					array('action' => 'edit', $post['Post']['id'] )
				);
			?>
		</td>
        <td><?php echo $post['Post']['created']; ?></td>
    </tr>
    <?php endforeach; ?>
    <?php unset($post); ?>
</table>
